/* ----------- Blog ----------- */

blockquote p {
    padding-left: 10px;
    border-left: 2px solid var(--lightgrey-color);
}

figure img {
    width: 100%;
    margin: auto;
    object-fit: cover;
    height: 360px;
    z-index: 1000;
}

ul,
ol {
    list-style-type: none;
}

.blog-container {
    margin: auto;
    min-height: 600px;
}
.blog-post > * {
    margin-bottom: 10px;
}

.blog-post > h2 {
    margin-bottom: 0px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

#modal-image {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog-container,
.comments,
.about-container {
    max-width: 720px;
}

.about__picture {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.picture__container-about {
    text-align: center;
}
