* {
    font-family: "Old Standard TT", "Courier New", "Georgia", serif;
}

p {
    padding: 4px 0px;
}

h1,
h2,
h3,
h4 {
    font-family: "Bebas Neue", "Helvetica", sans-serif, cursive;
}

h1 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.3em;
}
