:root {
    --green-color: #c9efc7;
    --grey-color: #454545;
    --lightgrey-color: #b0b0b0;
    --orange-color: #d9601a;
    --sand-color: #e1d091;
    --red-color: #b0341e;
    --lightblue-color: #b3daf2;
    --blue-color: #5faad9;
}
